body{
    font-family: Arial, sans-serif;
    background-color: #e66d6d;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

h1{
    color: #333;
    margin-bottom: 20px;
}

input{
    width: 300px;
    padding: 12px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button{
    width: 320px;
    padding: 12px;
    margin-top: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;
}

a{
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
}